!!! 5
html(lang="en")
  head
    meta(charset="utf-8")
    title= title
    meta(name="author", content="Ankit Shankar")

    meta(name="viewport", content="width=device-width, initial-scale=1, maximum-scale=1")

    link(rel='stylesheet', href='/stylesheets/base.css')
    link(rel='stylesheet', href='/stylesheets/skeleton.css')
    link(rel='stylesheet', href='/stylesheets/layout.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    .container!= body