each post in posts
  .post
    h1= post.title
    p= post.date
    each tag in post.tags
      a(href='/tags/' + encodeURIComponent(tag))= tag
    != post.body

if newer_page
  a(href=newer_page).newer Newer Posts
if older_page
  a(href=older_page).older Older Posts